@import url(designSystem/designStyle/color.css);
@import url(designSystem/designStyle/forms.css);
@import url(designSystem/designStyle/ds-layout.css);
@import url(designSystem/designStyle/components.css);
@import url(designSystem/designStyle/buttons.css);
@import url(designSystem/designStyle/tabs.css);
@import url(designSystem/designStyle/logo-icone.css);
@import url(src/styles/earn.css);
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
