.comp-bg {
    background: radial-gradient(329.58% 50% at 50% 50%, rgb(59, 40, 100) 0%, rgb(25, 19, 38) 100%);
    padding: 48px 0px;
    position: relative;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    z-index: 0;
    /* margin-top: -114px; */
}

.comp-flex {
    display: flex;
}

.comp-flex-cont {
    display: flex;
    margin: auto;
    max-width: 1152px;
}

.comp-marg-bot {
    margin-bottom: 48px;
}

/* .comp-text-cont {
} */

.comp-date-sty {
    color: rgb(122, 110, 170);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 16px;
}

.comp-bia-sty {
    font-size: 64px;
    line-height: 110%;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%) text;
    -webkit-text-stroke: 4px transparent;
}

.comp-prize-sty {
    font-size: 40px;
    line-height: 110%;
    font-weight: 600;
    color: rgb(255, 255, 255);
    /* -webkit-text-fill-color: transparent; */
    color: linear-gradient(rgb(255, 216, 0) 0%, rgb(253, 171, 50) 100%) text;
}

.comp-vol-sty {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    color: rgb(215, 202, 236);
    margin-top: 16px;
}

.comp-card-time {
    flex-direction: column;
    margin: -48px 0px 0px 36px;
    padding: 16px 24px;
    width: fit-content;
    height: fit-content;
    background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
    border: 1px solid rgb(118, 69, 217);
    box-sizing: border-box;
    border-radius: 0px 0px 24px 24px;
    justify-content: space-around;
}

.comp-card-head {
    margin-bottom: 16px;
    margin-right: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.comp-card-foot {
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.icon-clock {
    width: 64px;
}

.comp-card-text {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 24px;
}

.comp-card-tx-sty {
    margin-right: 4px;
    font-size: 24px;
    white-space: nowrap;
    text-align: center;
    line-height: 110%;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(255, 216, 0) 0%, rgb(253, 171, 50) 100%) text;
}

.comp-check-svg {
    fill: rgb(122, 110, 170);
    flex-shrink: 0;
}

.comp-card-cont {
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.comp-tx-ti-sty {
    margin-top: 4px;
    font-weight: 600;
    font-size: 12px;
    color: rgb(122, 110, 170);
    line-height: 1.5;
}

.comp-line {
    width: 36px;
    margin: 12px 8px 0px;
    background-color: rgb(122, 110, 170);
    height: 2px;
    border-radius: 4px;
}

.comp-bunny-sty {
    align-self: center;
    fill: rgb(40, 13, 95);
    flex-shrink: 0;
}

.com-tx-end-sty {
    color: rgb(83, 222, 233);
}




.comp-sec-par {
    margin-top: -30px;
}

.comp-sec-bg-t {
    background: none;
    z-index: 2;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding-top: 29px
}

.comp-fin-pos {
    z-index: 3;
    position: absolute;
    /* top: 50%; */
    top: 3.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comp-fin-sty {
    display: inline-flex;
    background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
    border-radius: 24px;
    color: rgb(40, 13, 95);
    overflow: hidden;
    position: relative;
    padding: 1px 1px 3px;
}

.comp-fin-sh {
    background: transparent;
}

.comp-sec-h-s{
    width: 100%;
    height: 100%;
    overflow: inherit;
    border-radius: 24px;
}

.comp-sec-pad {
    padding: 24px;
}

.comp-sec-con-pos {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.comp-con-tx-sty {
    text-align: center;
    line-height: 110%;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%) text;
    -webkit-text-stroke: 4px transparent;
    white-space: normal;
}

.comp-con-tx-sz {
    font-size: 40px;
}

.comp-con-svg-btn {
    display: flex;
    align-items: flex-end;
}

.comp-twig-svg-sty {
    margin-bottom: 6px;
    height: 32px;
    width: auto;
    fill: rgb(255, 178, 55);
}

.comp-btn-marg {
    margin: 16px 20px 0px;
    z-index: 200;
}

.comp-btn-dis-sty {
    background-color: rgb(233, 234, 235);
    border-color: rgb(233, 234, 235);
    box-shadow: none;
    color: rgb(189, 194, 196);
    cursor: not-allowed;
}

.comp-top-curve {
    width: 100%;
    height: 20px;
    clip-path: url(#topConcaveCurve);
    background: rgb(204, 216, 240);
    transform: translate(0px, 1px);
}

.comp-thir-sty {
    position: relative;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
    background: linear-gradient(rgb(203, 215, 239) 0%, rgb(154, 159, 208) 100%);
    padding: 14px 0px 48px;
}

.comp-th-cont-marg {
    margin-top: 36px;
    margin-bottom: 64px;
}

.comp-th-cont-pos {
    position: relative;
    width: 100%;
    margin: 24px auto 0px;
    max-width: 768px;
}

.comp-th-cnt-tp-pos {
    position: relative;
    margin-bottom: 36px;
}

.comp-th-cnt-tp-flx {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.comp-th-cnt-hg {
    height: 116px;
}

.comp-th-cnt-sv-pos {
    z-index: 2;
    position: absolute;
    bottom: -8px;
}

.comp-th-sv-al {
    -webkit-box-align: center;
    align-items: center;
}

.comp-lg-l-twig-rot {
   transform: rotate(30deg);
}

.comp-lg-tw-svg-sty {
    height: 45px;
    fill: rgb(39, 38, 44);
    opacity: 0.5;
    width: auto;
}

.comp-by-usr-svg-wh {
    width: 96px;
    height: 96px;
}

.comp-by-usr-bg-sty {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
    rgb(25 19 38 / 5%) 0px 1px 1px;
}

.comp-by-usr-hg {
    width: 100%;
    height: 100%;
}

.comp-lg-r-twig-rot {
    transform: rotate(-30deg);
}

.comp-bot-by-usr {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 50%;
    bottom: -54px;
    transform: translate(-50%, 0px);
}

.comp-bot-by-usr-d-fx {
     display: flex;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: center;
     justify-content: center;
}

.comp-bot-cl-lft-pos {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
}

.comp-bot-cl-lft-svg {
    position: absolute;
    left: -162px;
    z-index: 1;
}

.comp-lft-tw-pos {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(0px, -50%);
    left: -130px;
}

.comp-tw-svg-sty {
   align-self: center;
   fill: rgb(40, 13, 95);
   flex-shrink: 0;
   height: 20px;
   width: auto;
}

.comp-banner-svg-hw {
    width: 100%;
    height: 48px;
}

.comp-ban-pos {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    height: 46px;
    background-color: rgb(118, 69, 217);
}

.comp-ban-h2-sz {
    font-size: 40px;
    white-space: nowrap;
    text-align: center;
    line-height: 110%;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    -webkit-text-stroke: 4px transparent;
    padding: 0px 30px;
}

.comp-right-tw-pos {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(0px, -50%);
    right: -130px;
}

.comp-bot-cl-rgt-svg {
    position: absolute;
    z-index: 1;
    transform: scaleX(-1);
    right: -162px;
}



