.earn {
  background-color: var(--bg-color-light);
}

.tab-page-active::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: var(--secundary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3px 3px 0 0;
}

.earn-v {
  background-color: transparent;
  gap: 5px;
}

.earn__header {
  background: var(--bg-color--grad-block);
}

.earn__header-container {
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.earn__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--primary-color);
}

.earn__subtle {
  margin-top: 1.7rem;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
}

.earn__cta {
  color: var(--secundary-color);
  font-weight: 600;
  line-height: 1.5;
  margin-right: 4px;
  font-size: 16px;
  margin-top: 0.4rem;
}

.earn__cta img {
  transform: translateY(5px);
}

.earn__filters {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  margin-top: 4rem;
}

.earn__filters-left {
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: flex-start;
  transform: translateY(55%);
}

.earn__filters-icon1,
.earn__filters-icon2 {
  transform: translateY(3px);
}

.earn__filters-icon2 {
  margin-right: 15px;
}

.input__on-of-text {
  color: var(--h2-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 8px;
}

.earn__tab-box {
}

.earn__tab-box-btn-active {
  padding: 0 13px;
}

.earn__tab-box-btn {
  padding: 0 7px;
}

.earn__filters-right {
}

.earn__content {
  max-width: 1200px;
  margin: 4rem auto;
}

.earn__to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.earn__to-top-btn {
  /* margin-bottom: 1rem; */
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  height: 60px;
  padding: 0 24px;
  color: var(--secundary-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.earn__to-top-svg {
  fill: var(--secundary-color);
}

.earn__imgDecorator {
  display: flex;
  justify-content: center;
}

.earn__imgDecorator img {
  margin-top: 2.5rem;
}
