
.info-leggenda-pagine{
display: inline-flex;
height: 24px;
padding-left:40px;
padding-right: 40px;
padding-top: 20px;
padding-bottom: 20px;
gap:65%;
}
.info-container-leggenda {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
    list-style: inside disc;
}
.info-link-page {
color: rgb(31, 199, 212);
}
.info-link1{
    color: rgb(31, 199, 212);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.info-container-freccia{
    align-items: center;
    color: rgb(189, 194, 196);
    display: inline-flex;
    justify-content: center;
    padding-left: 4px;
    padding-right: 4px;
}

@media screen and (min-width: 852px){
    .info-container-freccia {
        padding-left: 16px;
        padding-right: 16px;
    }
    }
    @media screen and (min-width: 576px){
        .info-container-freccia {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    .info-container-name-token{
        display: inline-flex;
    }

    .info-name-token{
    color: rgb(40, 13, 95);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-right: 8px;
    }
    .info-name-token1{
        color: rgb(40, 13, 95);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5; 
    }
    @media screen and (min-width: 576px){
.info-container-collegam-page-esterna {
    justify-content: flex-end;
}
.info-container-collegam-page-esterna {
    display: inline-flex;
}
    }
@media screen and (min-width: 576px){
.info-container-collegam-page-esterna {
    margin-top: 0px;
}
}
@media screen and (min-width: 370px){
.info-container-collegam-page-esterna {
    margin-top: 8px;
}
.info-container-collegam-page-esterna {
    margin-top: 8px;
}
}
.info-colleg-pag-esterna{
    display: inline-flex;
    align-items: center;
    width: fit-content;
    color: rgb(31, 199, 212);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-right: 8px;
}
.info-img-colleg-token{
    align-self: center;
    margin-left: 4px;
}
.info-container-stella{
      display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.info-img-stella{
    align-self: center;
}